<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.e_commerce">

    <uses-sdk />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" /> <!-- <uses-feature android:name="android.hardware.camera.autofocus" /> -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/big_splash"
        android:label="@string/app_name"
        android:roundIcon="@drawable/big_splash"
        android:supportsRtl="true"
        android:theme="@style/Theme.e_commerce"
        tools:targetApi="31">

        <activity
            android:name=".Activity.RecipeDetailsActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".Activity.DishFeedActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".Activity.HistorySalesActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Activity.HistoryOrderActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.MapsActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Activity.CartActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.AddProductActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.CameraActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.LocationQueryActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCJytAzL0koK3qbgPTOhrwNzRKvzQIEPqc" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".Activity.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.DetailOrderActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.FullPackageDetailActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.RatingActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".Activity.LoginActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".Activity.ForgetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.RegisterationActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.VerificationActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ShowDetailActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.FoodByCategoryActivity"
            android:exported="false" />
    </application>

</manifest>